.zsmt1 .myCustomButton.sapMBtn {
  margin-right: 0.125rem
}

html[dir="rtl"] .zsmt1.myCustomButton.sapMBtn {
  margin-left: 0.125rem;
  margin-right: 0 
}

.zsmt1.myCustomText {
  font-weight: bold;
}