.zsmt1 .myCustomButton . sapMBtn {
	background-color: Transparent;
	background-repeat: no-repeat;
	border: none;
	cursor: pointer;
	overflow: hidden;
	outline: none;
}

html[dir="rtl"] .zsmt1 . myCustomButton . sapMBtn {
	margin-left: 0.125rem;
	margin-right: 0
}

.zsmt1 .myHeaderDetails {
	display: -webkit-flex;
	display: flex;
	align-self: center;
	justify-self: center;
	flex-direction: column;
	width: 100%;
	height: 100%;
	padding: 3%;
	border: 4px blue;
	margin-right: auto;
	margin-left: auto;
	background: linear-gradient(rgba(255, 255, 255, 0.8),
		rgba(255, 255, 255, 0.1));
	border-radius: 4px;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0
		rgba(0, 0, 0, 0.19);
	border-radius: 4px;
	border-radius: 4px
}

.zsmt1 .myAllPages {
	background-image: url("../image/wall.jpg");
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: cover;
	justify-content: center;
	align-content: center;
}

.zsmt1 .myCustomText {
	font-weight: bold;
}

.zsmt1 .fontSize {
	font-size: 20px;
	font-weight: bold;
}

.zsmt1 .myLoginImage {
	display: flex;
	width: 80%;
	height: 80%;
	align-self: center;
	justify-self: center;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}

.zsmt1 .myAppImage {
	display: flex;
	width: 80%;
	height: 50%;
	align-self: center;
	justify-self: center;
	margin-left: auto;
	margin-right: auto;
	opacity: 0.8;
	filter: alpha(opacity = 50);
}

.zsmt1 .myScreen {
	height: 40%;
	align-self: center;
	justify-self: center;
	margin-left: auto;
	margin-right: auto;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	margin-right: auto;
}

.zsmt1 .myVbox {
	align-self: center;
	justify-self: center;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

.zsmt1 .myVboxButton {
	align-self: center;
	justify-self: center;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	color: blue;
}

.zsmt1 .myBackgroundImage .sapMPageBgStandard {
	background-image: url('HTML5_Badge_32.png');
}

.zsmt1 .myPanel {
	display: -webkit-flex;
	display: flex;
	align-self: center;
	justify-self: center;
	flex-direction: column;
	width: 30%;
	margin-right: auto;
	margin-left: auto;
	border-radius: 4px;
	justify-content: center;
	align-content: center;
	padding-top: 3%;
}

.zsmt1 .myPage {
	background-image: url("../image/PorscheBack.jpg");
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: cover;
	justify-content: center;
	align-content: center;
}

.zsmt1 .myAppPage {
	width: 100%;
	height: 100%;
	background-image: url("../image/Porsche-911.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.zsmt1 .myAppImage {
	width: 60%;
	align-self: center;
	justify-self: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
}

.zsmt1 .myAppVbox {
	padding: 4%;
	align-content: center;
	justify-content: center;
}

.zsmt1 .myAppVboxButtons {
	padding: 4%;
	width: 100%;
	align-self: center;
	justify-self: center;
	align-content: center;
	justify-content: center;
}

.zsmt1 .myLoginButton {
	background-color: #82abf7;
	/* Green */
	border: none;
	width: 100%;
	border-radius: 4px;
	text-align: center;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0
		rgba(0, 0, 0, 0.19);
}

.zsmt1 .myLoginButton:hover {
	/* Green */
	background-color: #0000ff;
}

.zsmt1 .myAppButtonManager {
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
	text-align: center;
	align-self: center;
	justify-self: center;
	box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.4), 0 12px 40px 0
		rgba(0, 0, 0, 0.36);
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 50%;
	width: 70%;
}

.zsmt1 .myAppButtonManager:hover {
	background-color: rgba(255, 255, 255, 0.8); /* Green */
}

.zsmt1 .myAppButtonEmployee {
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
	text-align: center;
	align-self: center;
	justify-self: center;
	box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.4), 0 12px 40px 0
		rgba(0, 0, 0, 0.36);
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 50%;
	width: 70%;
}

.zsmt1 .myAppButtonEmployee:hover {
	background-color: rgba(255, 255, 255, 0.8); /* Green */
}

.zsmt1 .myEmployeeFragment {
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0
		rgba(0, 0, 0, 0.18);
		width:100%;
		height:100%;
}

.zsmt1 .myAppFlexContainer {
	display: -webkit-flex;
	display: flex;
	align-self: center;
	justify-self: center;
	flex-direction: column;
	width: 50%;
	height: 100%;
	padding: 4%;
	border: 4px blue;
	margin-right: auto;
	margin-left: auto;
	background: linear-gradient(rgba(255, 255, 255, 0.8),
		rgba(255, 255, 255, 0.1));
	border-radius: 1px;
	box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0
		rgba(0, 0, 0, 0.38);
	justify-self: center;
	border-radius: 4px;
}

.zsmt1 .myAppFlexBoxButtons {
	display: -webkit-flex;
	display: flex;
	padding: 5%;
	width: 30%;
	align-self: center;
	justify-self: center;
	align-content: center;
	justify-content: center;
}

.zsmt1 .myFlexContainer {
	display: -webkit-flex;
	display: flex;
	align-self: center;
	justify-self: center;
	flex-direction: column;
	width: 30%;
	height: 100%;
	padding: 3%;
	border: 4px blue;
	margin-right: auto;
	margin-left: auto;
	background: linear-gradient(rgba(255, 255, 255, 0.8),
		rgba(255, 255, 255, 0.1));
	border-radius: 4px;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0
		rgba(0, 0, 0, 0.19);
	border-radius: 4px;
	border-radius: 4px
}

.zsmt1 .myFlexText {
	font-weight: bold;
	color: rgba(255, 255, 255, 0.9);
	text-shadow: 2px 1.5px #2c3f63;
	font-size: 120%;
}

.myBackgroundStyle .sapMPageBgStandard {
	background-image: url('HTML5_Badge_32.png');
}

.zsmt1 .myDetailsFlexBox {
	display: flex;
	align-items: centre;
}

.zsmt1 .myDetailsGrid {
	background: blue;
}

.zsmt1 .myEmployeeProfileImageVbox {
	width: 30%;
	heigh: 80%;
	align-content: center;
	justify-content: center;
}

.zsmt1 .myEmployeeProfileDetailsVbox {
	width: 100%;
	margin-top: 5%;
	margin: auto;
}

.zsmt1 .myEmployeeProfileImage {
	width: 70%;
	align-self: center;
	heigh: 80%;
	margin: auto;
	justify-self: center;
}

.zsmt1 .myCustomBody {
	background-color: transparent !important;
	background-image: url("mhpcar.jpg") !important;
	background-repeat: no-repeat;
	background-size: cover;
}

.zsmt1 .myEmployeeImage {
	height: 80px;
	align-self: center;
	justify-self: center;
	margin-left: auto;
	margin-right: auto;
}

.zsmt1 .myPos1 {
	align-self: center;
}

.zsmt1 .myPos2 {
	float: right;
	background-size: cover;
}

.zsmt1 .myText {
	font-weight: bold;
	font-size: 18px;
	color: black;
}

.zsmt1 .tr {
	background-color: rgba(255, 0, 255, 0.5) !important;
}